.row{
    background: rgba(190, 79, 207, 0.887);
}
footer{
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgba(128, 12, 146, 0.887) ;
}