<div class="row" *ngIf="persona">
    <div class="col-lg-11"></div>
    <div class="col-lg-1">
        <button id="btn" type="button" class="btn btn-light" routerLink="/editprofile/1" *ngIf="isLogged"><i class="bi bi-pencil-fill"></i></button>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Profile pic.jpg" class="img-fluid img" id="profilepicture"/>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>{{persona.tituloP}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>About me</h1>
            <p>{{persona.descripcionP}}</p>
        </span>
    </div>
</div>