.row{
    padding: 20px;
}
div{
    background-color: rgba(190, 79, 207, 0.887);
    text-align: center;
    color: white;
}


/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #profilepicture{
        position: absolute;
        width: 20%;
        border-radius: 100%;
        left: 1%;
        top:300px;
    }
}
@media (max-width: 575px){
    #profilepicture{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        left: 3%;
        top:400px;
    }

    #btn{
        position: absolute;
        right: 3%;    
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}