<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/ivette-nobiltá-b0b9a5245"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://github.com/IvetteJN"><img src="../../../assets/github.png" id="github"></a>
            <button type="button" class="btn btn-light" (click)="login()" *ngIf="!isLogged">Login</button>
            <button type="button" class="btn btn-light"  (click)="onLogOut()" *ngIf="isLogged">Log out</button>
        </div>
    </div>
</div>

